<div class="container">
  <div id="info" ng-if="myInfoCtrl.verified">
    First name: {{ myInfoCtrl.user.first_name}} <br>
    Last name: {{ myInfoCtrl.user.last_name}} <br>
    Email: {{ myInfoCtrl.user.email}} <br>
    Phone: {{ myInfoCtrl.user.phone }} <br>
    Favorite Item: {{ myInfoCtrl.user.fav_item.name}}
    <div class="menu-item-photo">
      <div>{{myInfoCtrl.fav_item.user.short_name}}</div>
      <img class="img-responsive" width="250" height="150" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.user.fav_item.short_name}}.jpg" alt="{{myInfoCtrl.user.fav_item.name}}">
    </div>
    <div class="menu-item-description col-sm-7">
      <h3 class="menu-item-title">{{myInfoCtrl.user.fav_item.name}}</h3>
      <p class="menu-item-details">{{myInfoCtrl.user.fav_item.description}}</p>
    </div>
  </div>

  <div id="info" ng-if="!myInfoCtrl.verified">
    Not Signed Up Yet.
    <a ui-sref="public.signup"> Sign up Now! </a>
  </div>

</div>
