<br>
<div>
  <ul>
    <li ng-repeat="item in items">
      {{ item.short_name}}, 
      {{ item.name }},
      <button class="btn btn-default" ng-click="onRemove({index: $index});">
      <span class="glyphicon glyphicon-remove"></span>
      Don't want this one!</button>
      <br>
      {{ item.description}}
    </li>
  </ul>
</div>
<!-- 
    <br>
    <div>
      <ul>
        <li ng-repeat="item in items">
          {{ item.short_name}}, 
          {{ item.name }},
          <button class="btn btn-default" ng-click="item.remove($index);">
          <span class="glyphicon glyphicon-remove"></span>
          Don't want this one!</button>
          <br>
          {{ item.description}}
        </li>
      </ul>
    </div> -->